<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/list-note}">Show List Note</a>

<form th:action="@{/create-note}" th:object="${note}" method="post">
    <table>
        <tr>
            <th>Title:</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                <select th:field="*{category}">
                    <option th:each="category: ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Content:</th>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>

</body>
</html>