<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>edit</h1>
<form th:action="@{/edit-note}" method="post" th:object="${note}">
    <input type="text" th:field="*{id}">
    <input type="text" th:field="*{category.id}">
    <table>
        <tr>
            <th>Title</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                <select name="" id="" th:field="*{category}">
                    <option th:each="category: ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>